@mixin mq($range: min, $val: $default-container-md) {
    @media(#{$range}-width: #{$val}px) {
        @content;
    }
}


// breakpoint for iPads

/* Smartphones (portrait and landscape) ----------- */
@mixin mq_sp() {
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		@content;
	}	
}


/* iPads (portrait and landscape) ----------- */
@mixin mq_ipad() {
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
		@content;
	}	
}

/* Large screens ----------- */
@mixin mq_lg() {
	@media only screen  and (min-width : 1824px) {
		@content;
	}	
}


// style for IE 10+
@mixin forIE() {
/* IE 10+ */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
       @content;
    }
}

// style for firefox
@mixin forFF() {
	@-moz-document url-prefix() { 
		@content;
	}
}

// enable scroll on IOS phone
@mixin scroll_IOS() {
	-webkit-overflow-scrolling: touch;
}
// convert px to em
@mixin em( $val ) {
    font-size: ($val / $base-font-size) +em;
}

@mixin txt( $fs: $base-font-size, $lh: $base-line-height, $fw: $base-font-weight ) {
	@if $default-fs-option == "em" {
		@include em($fs);
	}@else{
		font-size: $fs+px;
	}
    line-height: $lh;
    font-weight: $fw;
}

// flex size
@mixin flex_w( $val ) {
	flex: 0 0 $val;
	max-width: $val;
}

/////////////////
// CUSTOM INPUTS
////////////////

// for custom select tag
// parent before and after
@mixin select_before($bg: #000000, $width: 50px, $height: 100%, $top: 0, $right: 0) {
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: $top;
		right: $top;
		width: $width;
		height: $height;
		background-color: $bg;
		z-index: 1;
		pointer-events: none;
	}
}

@mixin select_after($arrow_size: 10px, $top: 36%, $right: 20px, $b_color: #ffffff, $b_size: 2px, $rotate: 45deg) {
	&:after {
		content: '';
		position: absolute;
		top: $top;
		right: $right;
		width: $arrow_size;
		height: $arrow_size;
		border-right: $b_size solid $b_color;
		border-bottom: $b_size solid $b_color;
		transform: rotate($rotate);
		z-index: 3;
	}
}

@mixin select_tag($size: 100%, $display: block, $padxy: 10px 20px, $fs: 1em, $fw: 500, $color: dimgray) {
	width: $size;
	display: $display; 
	padding: $padxy;
	font-size: $fs;
	font-weight: $fw;
	color: $color;
	appearance: none;
	cursor: pointer;
	&:-ms-expand { 
		display: none; 
	}
}

// checkbox

@mixin checkbox_before($before_s: 20px, $before_brder: 2px solid $theme-color) {
	&:before{
		content: "";
		display: inline-block;
		height: 20px;
		width: 20px;
		border: 2px solid $theme-color;   
	}
}

@mixin checkbox_after($after_top: -1px, $after_left: 5px,$after_sw: 11px, $after_sh: 7px, $after_bs: 2px, $after_bcolor: #000000, $rotate:-45deg) {
	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		top: $after_top;
		left: $after_left;
		height: $after_sh;
		width: $after_sw;
		border-left: $after_bs solid $after_bcolor;
		border-bottom: $after_bs solid $after_bcolor;
		transform: rotate($rotate);
	}
}

@mixin checkbox_tag($bcolor: #000000, $bsize: 1px ) {
	display: none;
	border: $bsize solid $bcolor;
	opacity: 0;
	
	& + label::after {
		content: none;
	}
	&:checked + label::after {
		content: "";
	}
}