/////////
// Fonts
/////////
@font-face {
	font-family: "Meiryo"; src: url("//db.onlinewebfonts.com/t/a332acaf781c7cd772622c8d44c40bc7.eot"); 
	src: url("//db.onlinewebfonts.com/t/a332acaf781c7cd772622c8d44c40bc7.eot?#iefix") format("embedded-opentype"), 
	url("//db.onlinewebfonts.com/t/a332acaf781c7cd772622c8d44c40bc7.woff2") format("woff2"), 
	url("//db.onlinewebfonts.com/t/a332acaf781c7cd772622c8d44c40bc7.woff") format("woff"), 
	url("//db.onlinewebfonts.com/t/a332acaf781c7cd772622c8d44c40bc7.ttf") format("truetype"), 
	url("//db.onlinewebfonts.com/t/a332acaf781c7cd772622c8d44c40bc7.svg#Meiryo") format("svg"); 
}

$base-font-family: 'Poppins', sans-serif;
$base-font-size: 16;
$base-font-weight: normal;
$base-line-height: 1.5;
$base-color: #222222;
$base-bg: #fff;

//////////////
// FONT SIZES
//////////////

// FS OPTION (em,px)
$default-fs-option: 'px';

$font-sizes-xs: 18;
$font-sizes: 20;

//////////////
// FONT WEIGHTS
//////////////

$font-weights: 500 600 900;

//////////
// Colors
//////////

$primary-color: rgb(175, 175, 202);
$secondary-color: rgb(153, 17, 17);
$theme-color: rgb(21, 110, 128);

//////////////
// Containers
//////////////

$lg-container: 1740;
$default-container: 1020;
$mq_sm: 569;
$mq_md: 767;

//////////////
// Padding left & right
//////////////

$default-pl: 15;

//////////
// MARGINS
//////////

// Margin TOP XS
$margin-top: 0;
// Margin TOP MD
$margin-top-md: 0;
// Margin BOTTOM XS
$margin-bottom: 0 30;
// Margin BOTTOM MD
$margin-bottom-md: 0;

// global margin top
$gtop: 100;

//////////
// PADDINGS
//////////

// Padding TOP XS
$padding-top: 0;
// Padding TOP MD
$padding-top-md: 0;
// Padding BOTTOM XS
$padding-bottom: 0;
// Padding BOTTOM MD
$padding-bottom-md: 0;

//////////
// GAPS & GRIDS
//////////

// GAP XS
$gap_xs : 0 10;
// GAP SM
$gap_sm : 0;
// GAP MD
$gap_md : 0 10 20;

// GRID XS
$cols_xs : 0 6 12;
// GRID SM
$cols_sm : 6 12;
// GRID MD
$cols_md : 0 3 4 6 12;


// SOURCE
// https://gist.github.com/jareware/4738651 
// 

///////////
// DISPLAY
///////////

// "class name" values
$display:	"dblock" block, 
			"diblock" inline-block,
			"dflex" flex, 
			"diflex" inline-flex, 
			"dnone" none;


///////////
// ALIGN
///////////

// properties "class name" values
$align: text-align "tc" center,  
		text-align "tr" right, 
		align-items "ai" center;

		
// boxes
$box: "450" 450px, 
		"20per" 20%, 
		"30" 30px;

@each $b in $box {
	.box-#{nth($b, 1)} {
		max-width: nth($b, 2);
	}
}