.main-footer {
    .footer-logo {
        padding-top: 15px;
        padding-bottom: 15px;
        .footer-logo-img {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            @include mq(max, $mq_md) {
                justify-content: center;
            }
        }
        p {
            @include mq(max, $mq_md) {
                text-align: center;
            } 
        }
        ul {
            display: flex;
            margin-left: -10px;
            margin-right: -10px;
            @include mq(max, $mq_md) {
                margin-top: 20px;
            }
            li {
                flex: 0 0 50%;
                max-width: 50%;
                padding-left: 10px;
                padding-right: 10px;
                a {
                    display: flex;
                    @include mq(max, $mq_md) {
                        justify-content: center;
                        align-items: center;
                    }
                    img {
                        max-width: 208px;
                        width: 100%;
                        @include mq(max, $mq_md) {
                            max-width: fit-content;
                        }
                    }
                }
            }
        }
    }
    .copyright {
        background-color: #222222;
        color: #fff;
        text-align: center;
        font-size: 12px;
        padding: 10px 0;
    }
}