/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
}

@font-face {
  font-family: "Meiryo";
  src: url("//db.onlinewebfonts.com/t/a332acaf781c7cd772622c8d44c40bc7.eot");
  src: url("//db.onlinewebfonts.com/t/a332acaf781c7cd772622c8d44c40bc7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a332acaf781c7cd772622c8d44c40bc7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a332acaf781c7cd772622c8d44c40bc7.woff") format("woff"), url("//db.onlinewebfonts.com/t/a332acaf781c7cd772622c8d44c40bc7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a332acaf781c7cd772622c8d44c40bc7.svg#Meiryo") format("svg");
}

.box-450 {
  max-width: 450px;
}

.box-20per {
  max-width: 20%;
}

.box-30 {
  max-width: 30px;
}

/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* Large screens ----------- */
.dflex-ai {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dflex-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
  25% {
    -moz-transform: translateY(-10%);
         transform: translateY(-10%);
  }
  50% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
  75% {
    -moz-transform: translateY(-10%);
         transform: translateY(-10%);
  }
  100% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
  25% {
    -o-transform: translateY(-10%);
       transform: translateY(-10%);
  }
  50% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
  75% {
    -o-transform: translateY(-10%);
       transform: translateY(-10%);
  }
  100% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  font-weight: normal;
  margin: 0 auto;
  color: #222222;
}

.wrp {
  position: relative;
}

.cntr {
  max-width: 1020px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1020px) {
  .cntr {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.lg-cntr {
  max-width: 1740px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1740px) {
  .lg-cntr {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/** LAYOUTS **/
.gap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  /*gaps*/
  /*
	*
	* How to use gap classes :
	*
	*  Ex: <div class="gap gap-2 gap-0-xs">
	*			<div class="md-6 xs-12"></div>
	*			<div class="md-6 xs-12"></div>
	*		</div>
	*
	*/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
}

.gap.gap-0-xs {
  margin-left: 0px;
  margin-right: 0px;
}

.gap.gap-0-xs > [class^="xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-0-xs > [class*=" xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-10-xs {
  margin-left: -10px;
  margin-right: -10px;
}

.gap.gap-10-xs > [class^="xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

.gap.gap-10-xs > [class*=" xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 569px) {
  .gap.gap-0-sm {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0-sm > [class^="sm"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0-sm > [class*=" sm"] {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 767px) {
  .gap.gap-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0 > [class^="md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0 > [class*=" md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-10 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .gap.gap-10 > [class^="md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-10 > [class*=" md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-20 {
    margin-left: -20px;
    margin-right: -20px;
  }
  .gap.gap-20 > [class^="md"] {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gap.gap-20 > [class*=" md"] {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.gap .xs-0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 0%;
          flex: 0 0 0%;
  max-width: 0%;
}

.gap .xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.gap .xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 569px) {
  .gap .sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 767px) {
  .gap .md-0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    max-width: 0%;
  }
  .gap .md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .gap .md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .gap .md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.main-footer .footer-logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-footer .footer-logo .footer-logo-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .main-footer .footer-logo .footer-logo-img {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .main-footer .footer-logo p {
    text-align: center;
  }
}

.main-footer .footer-logo ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

@media (max-width: 767px) {
  .main-footer .footer-logo ul {
    margin-top: 20px;
  }
}

.main-footer .footer-logo ul li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.main-footer .footer-logo ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .main-footer .footer-logo ul li a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-footer .footer-logo ul li a img {
  max-width: 208px;
  width: 100%;
}

@media (max-width: 767px) {
  .main-footer .footer-logo ul li a img {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

.main-footer .copyright {
  background-color: #222222;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
}

/** MODULES **/
.sukima-banner {
  padding-top: -webkit-calc(30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
  padding-top: -moz-calc(30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
  padding-top: calc(30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
  padding-bottom: -webkit-calc(30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
  padding-bottom: -moz-calc(30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
  padding-bottom: calc(30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
}

.sukima-banner .sukima-tri {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -30px;
}

@media (max-width: 767px) {
  .sukima-banner .sukima-tri {
    display: none;
  }
}

.sukima-banner .sukima-tri img {
  width: -webkit-calc(70px + (180 - 70) * ((100vw - 768px) / (2000 - 768)));
  width: -moz-calc(70px + (180 - 70) * ((100vw - 768px) / (2000 - 768)));
  width: calc(70px + (180 - 70) * ((100vw - 768px) / (2000 - 768)));
  -webkit-transform: rotate(40deg);
     -moz-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
       -o-transform: rotate(40deg);
          transform: rotate(40deg);
}

.sukima-banner .sukima-tri01 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -webkit-calc(30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
  bottom: -moz-calc(30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
  bottom: calc(30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
  left: -webkit-calc(-30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
  left: -moz-calc(-30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
  left: calc(-30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
}

@media (max-width: 767px) {
  .sukima-banner .sukima-tri01 {
    display: none;
  }
}

.sukima-banner .sukima-tri01 img {
  width: -webkit-calc(75px + (135 - 75) * ((100vw - 768px) / (2000 - 768)));
  width: -moz-calc(75px + (135 - 75) * ((100vw - 768px) / (2000 - 768)));
  width: calc(75px + (135 - 75) * ((100vw - 768px) / (2000 - 768)));
  -webkit-transform: rotate(10deg);
     -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
       -o-transform: rotate(10deg);
          transform: rotate(10deg);
}

@media (max-width: 767px) {
  .sukima-banner {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .sukima-banner .lg-cntr {
    padding-left: 0;
    padding-right: 0;
  }
}

.sukima-banner .sukima-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

@media (max-width: 767px) {
  .sukima-banner .sukima-bg {
    display: none;
  }
}

.sukima-banner .sukima-bg img {
  height: -webkit-calc(355px + (795 - 355) * ((100vw - 768px) / (2000 - 768)));
  height: -moz-calc(355px + (795 - 355) * ((100vw - 768px) / (2000 - 768)));
  height: calc(355px + (795 - 355) * ((100vw - 768px) / (2000 - 768)));
  width: 1095px;
  width: -webkit-calc(490px + (1095 - 490) * ((100vw - 768px) / (2000 - 768)));
  width: -moz-calc(490px + (1095 - 490) * ((100vw - 768px) / (2000 - 768)));
  width: calc(490px + (1095 - 490) * ((100vw - 768px) / (2000 - 768)));
  -o-object-fit: cover;
     object-fit: cover;
}

.sukima-banner .sukima-banner-yellow {
  background-color: #ffd131;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
  padding-top: -webkit-calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
  padding-top: -moz-calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
  padding-top: calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
  padding-bottom: -webkit-calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
  padding-bottom: -moz-calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
  padding-bottom: calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
  padding-left: -webkit-calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
  padding-left: -moz-calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
  padding-left: calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
  padding-right: -webkit-calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
  padding-right: -moz-calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
  padding-right: calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
  position: relative;
}

@media (max-width: 767px) {
  .sukima-banner .sukima-banner-yellow {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.sukima-banner .sukima-banner-yellow .sukima-banner-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .sukima-banner .sukima-banner-yellow .sukima-banner-title {
    margin-bottom: 10px;
  }
}

.sukima-banner .sukima-banner-yellow .sukima-banner-title img {
  width: -webkit-calc(200px + (395 - 200) * ((100vw - 768px) / (2000 - 768)));
  width: -moz-calc(200px + (395 - 200) * ((100vw - 768px) / (2000 - 768)));
  width: calc(200px + (395 - 200) * ((100vw - 768px) / (2000 - 768)));
}

@media (max-width: 767px) {
  .sukima-banner .sukima-banner-yellow .sukima-banner-title img {
    max-width: 250px;
    width: 100%;
  }
}

.sukima-banner .sukima-banner-yellow .sukima-banner-img .img01 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -webkit-calc(10px + (50 - 10) * ((100vw - 768px) / (2000 - 768)));
  margin-bottom: -moz-calc(10px + (50 - 10) * ((100vw - 768px) / (2000 - 768)));
  margin-bottom: calc(10px + (50 - 10) * ((100vw - 768px) / (2000 - 768)));
}

@media (max-width: 767px) {
  .sukima-banner .sukima-banner-yellow .sukima-banner-img .img01 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

.sukima-banner .sukima-banner-yellow .sukima-banner-img .img01 img {
  width: -webkit-calc(280px + (580 - 280) * ((100vw - 768px) / (2000 - 768)));
  width: -moz-calc(280px + (580 - 280) * ((100vw - 768px) / (2000 - 768)));
  width: calc(280px + (580 - 280) * ((100vw - 768px) / (2000 - 768)));
}

@media (max-width: 767px) {
  .sukima-banner .sukima-banner-yellow .sukima-banner-img .img01 img {
    width: 80%;
  }
}

.sukima-banner .sukima-banner-yellow .sukima-banner-img .img02 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: -webkit-calc(10px + (100 - 10) * ((100vw - 768px) / (2000 - 768)));
  padding-left: -moz-calc(10px + (100 - 10) * ((100vw - 768px) / (2000 - 768)));
  padding-left: calc(10px + (100 - 10) * ((100vw - 768px) / (2000 - 768)));
}

@media (max-width: 767px) {
  .sukima-banner .sukima-banner-yellow .sukima-banner-img .img02 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sukima-banner .sukima-banner-yellow .sukima-banner-img .img02 img {
  width: -webkit-calc(250px + (545 - 250) * ((100vw - 768px) / (2000 - 768)));
  width: -moz-calc(250px + (545 - 250) * ((100vw - 768px) / (2000 - 768)));
  width: calc(250px + (545 - 250) * ((100vw - 768px) / (2000 - 768)));
}

@media (max-width: 767px) {
  .sukima-banner .sukima-banner-yellow .sukima-banner-img .img02 img {
    width: 80%;
  }
}

.sukima-recommend {
  padding-top: 60px;
  padding-bottom: 90px;
  position: relative;
}

@media (max-width: 767px) {
  .sukima-recommend {
    padding-bottom: 0px;
  }
}

.sukima-recommend .sukima-tri, .sukima-recommend .sukima-tri01 {
  position: absolute;
}

@media (max-width: 767px) {
  .sukima-recommend .sukima-tri, .sukima-recommend .sukima-tri01 {
    display: none;
  }
}

.sukima-recommend .sukima-tri {
  left: -webkit-calc(40px + (100 - 40) * ((100vw - 768px) / (2000 - 768)));
  left: -moz-calc(40px + (100 - 40) * ((100vw - 768px) / (2000 - 768)));
  left: calc(40px + (100 - 40) * ((100vw - 768px) / (2000 - 768)));
  top: -webkit-calc(10px + (80 - 10) * ((100vw - 768px) / (2000 - 768)));
  top: -moz-calc(10px + (80 - 10) * ((100vw - 768px) / (2000 - 768)));
  top: calc(10px + (80 - 10) * ((100vw - 768px) / (2000 - 768)));
}

.sukima-recommend .sukima-tri img {
  width: -webkit-calc(100px + (260 - 100) * ((100vw - 768px) / (2000 - 768)));
  width: -moz-calc(100px + (260 - 100) * ((100vw - 768px) / (2000 - 768)));
  width: calc(100px + (260 - 100) * ((100vw - 768px) / (2000 - 768)));
}

.sukima-recommend .sukima-tri01 {
  right: -webkit-calc(90px + (140 - 90) * ((100vw - 768px) / (2000 - 768)));
  right: -moz-calc(90px + (140 - 90) * ((100vw - 768px) / (2000 - 768)));
  right: calc(90px + (140 - 90) * ((100vw - 768px) / (2000 - 768)));
  bottom: -webkit-calc(10px + (130 - 10) * ((100vw - 768px) / (2000 - 768)));
  bottom: -moz-calc(10px + (130 - 10) * ((100vw - 768px) / (2000 - 768)));
  bottom: calc(10px + (130 - 10) * ((100vw - 768px) / (2000 - 768)));
}

.sukima-recommend .sukima-tri01 img {
  width: -webkit-calc(80px + (135 - 80) * ((100vw - 768px) / (2000 - 768)));
  width: -moz-calc(80px + (135 - 80) * ((100vw - 768px) / (2000 - 768)));
  width: calc(80px + (135 - 80) * ((100vw - 768px) / (2000 - 768)));
}

.sukima-job {
  background-color: #ffd131;
  padding-top: 70px;
  padding-bottom: 60px;
  position: relative;
}

.sukima-job .sukima-tri01 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -webkit-calc(50px + (100 - 50) * ((100vw - 768px) / (2000 - 768)));
  top: -moz-calc(50px + (100 - 50) * ((100vw - 768px) / (2000 - 768)));
  top: calc(50px + (100 - 50) * ((100vw - 768px) / (2000 - 768)));
  left: -webkit-calc(20px + (120 - 20) * ((100vw - 768px) / (2000 - 768)));
  left: -moz-calc(20px + (120 - 20) * ((100vw - 768px) / (2000 - 768)));
  left: calc(20px + (120 - 20) * ((100vw - 768px) / (2000 - 768)));
}

.sukima-job .sukima-tri01 img {
  width: -webkit-calc(80px + (185 - 80) * ((100vw - 768px) / (2000 - 768)));
  width: -moz-calc(80px + (185 - 80) * ((100vw - 768px) / (2000 - 768)));
  width: calc(80px + (185 - 80) * ((100vw - 768px) / (2000 - 768)));
}

@media (max-width: 767px) {
  .sukima-job .sukima-tri01 {
    display: none;
  }
}

.sukima-job .sukima-tri {
  position: absolute;
  bottom: -50px;
  right: 60px;
}

@media (max-width: 767px) {
  .sukima-job .sukima-tri {
    display: none;
  }
}

.sukima-job .sukima-tri img {
  width: 150px;
  -webkit-transform: rotate(10deg);
     -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
       -o-transform: rotate(10deg);
          transform: rotate(10deg);
}

@media (max-width: 767px) {
  .sukima-job {
    padding-bottom: 30px;
  }
}

.sukima-job .sukima-title {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .sukima-job .sukima-title {
    margin-bottom: 30px;
  }
}

.sukima-job .sukima-job-img {
  max-width: 470px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .sukima-job .sukima-job-img {
    margin-bottom: 30px;
  }
}

.sukima-job .sukima-job-img img {
  width: 100%;
}

@media (max-width: 767px) {
  .sukima-job .sukima-job-cont {
    text-align: center;
  }
}

.sukima-job .sukima-job-cont h4 {
  font-size: 26px;
  font-family: "Meiryo";
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .sukima-job .sukima-job-cont h4 {
    font-size: 22px;
  }
}

.sukima-job .sukima-job-cont img {
  max-width: 420px;
  width: 100%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.sukima-job .sukima-job-cont p {
  font-size: 20px;
  line-height: 40px;
}

@media (max-width: 767px) {
  .sukima-job .sukima-job-cont p {
    font-size: 14px;
    line-height: 28px;
  }
}

.work {
  background-color: #f4f3f1;
  overflow: hidden;
}

.work .work-img01 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: -100px;
}

@media (max-width: 900px) {
  .work .work-img01 {
    left: -150px;
  }
}

@media (max-width: 767px) {
  .work .work-img01 {
    display: none;
  }
}

.work .work-img02 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  right: -10px;
}

@media (max-width: 900px) {
  .work .work-img02 {
    right: -50px;
  }
}

@media (max-width: 767px) {
  .work .work-img02 {
    display: none;
  }
}

.work .cntr {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.work .sukima-title {
  margin-bottom: 40px;
}

.work .work-cont h4 {
  font-size: 20px;
  font-family: "Meiryo";
  text-align: center;
  margin-bottom: 20px;
}

.work .work-cont p {
  text-align: center;
  margin-bottom: 50px;
}

.work .work-cont .work-cont-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work .work-cont .work-cont-img a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .work .work-cont .work-cont-img a img {
    width: 100%;
  }
}

.precautions {
  padding-top: 80px;
  padding-bottom: 60px;
  position: relative;
}

.precautions .sukima-tri01, .precautions .sukima-tri {
  position: absolute;
}

@media (max-width: 767px) {
  .precautions .sukima-tri01, .precautions .sukima-tri {
    display: none;
  }
}

.precautions .sukima-tri {
  top: -webkit-calc(80px + (350 - 80) * ((100vw - 768px) / (2000 - 768)));
  top: -moz-calc(80px + (350 - 80) * ((100vw - 768px) / (2000 - 768)));
  top: calc(80px + (350 - 80) * ((100vw - 768px) / (2000 - 768)));
  left: 30px;
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.precautions .sukima-tri img {
  width: 150px;
}

.precautions .sukima-tri01 {
  bottom: 150px;
  right: 100px;
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.precautions .sukima-tri01 img {
  width: 100px;
}

.precautions .prec-text {
  line-height: 26px;
  font-family: "Meiryo";
}

@media (max-width: 767px) {
  .precautions .prec-text {
    font-size: 15px;
    line-height: normal;
  }
}

@media (max-width: 375px) {
  .precautions .gap .xs-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.flow {
  background-color: #0cac8f;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

.flow .sukima-tri01, .flow .sukima-tri {
  position: absolute;
}

@media (max-width: 767px) {
  .flow .sukima-tri01, .flow .sukima-tri {
    display: none;
  }
}

.flow .sukima-tri01 {
  left: 30px;
  bottom: -webkit-calc(500px + (100 - 500) * ((100vw - 768px) / (2000 - 768)));
  bottom: -moz-calc(500px + (100 - 500) * ((100vw - 768px) / (2000 - 768)));
  bottom: calc(500px + (100 - 500) * ((100vw - 768px) / (2000 - 768)));
}

.flow .sukima-tri01 img {
  width: 80px;
}

.flow .sukima-tri {
  right: 30px;
  bottom: -100px;
}

.flow .sukima-tri img {
  width: 150px;
}

@media (max-width: 767px) {
  .flow {
    padding-bottom: 0;
  }
}

.flow .sukima-title h3 {
  color: #fff;
}

.flow .sukima-title h3 img {
  width: 60px;
  top: -webkit-calc(-30px + (50 - 30) * ((100vw - 375px) / (2000 - 375)));
  top: -moz-calc(-30px + (50 - 30) * ((100vw - 375px) / (2000 - 375)));
  top: calc(-30px + (50 - 30) * ((100vw - 375px) / (2000 - 375)));
  left: -webkit-calc(-40px + (20 - 40) * ((100vw - 375px) / (2000 - 375)));
  left: -moz-calc(-40px + (20 - 40) * ((100vw - 375px) / (2000 - 375)));
  left: calc(-40px + (20 - 40) * ((100vw - 375px) / (2000 - 375)));
}

.grooming {
  padding-top: 85px;
  padding-bottom: 50px;
}

.grooming .groom-gap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.grooming .groom-gap .groom-img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

@media (max-width: 767px) {
  .grooming .groom-gap .groom-img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}

.grooming .groom-gap .groom-img img {
  width: 100%;
}

@media (max-width: 767px) {
  .grooming .groom-gap .groom-img img {
    width: auto;
  }
}

.grooming .groom-gap .grom-cont {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
  padding-left: 50px;
}

@media (max-width: 767px) {
  .grooming .groom-gap .grom-cont {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
  }
}

.grooming .groom-gap .grom-cont ul li {
  margin-bottom: 30px;
}

.grooming .groom-gap .grom-cont ul li:last-child {
  margin-bottom: 0;
}

.grooming .groom-gap .grom-cont ul li p strong {
  color: #0cac8f;
  font-family: "Meiryo";
}

.salary {
  background-color: #f4f3f1;
  padding-top: 75px;
  padding-bottom: 50px;
  overflow: hidden;
  position: relative;
}

.salary .sukima-tri01, .salary .sukima-tri {
  position: absolute;
}

@media (max-width: 767px) {
  .salary .sukima-tri01, .salary .sukima-tri {
    display: none;
  }
}

.salary .sukima-tri {
  left: 30px;
  bottom: 0;
}

.salary .sukima-tri img {
  width: 150px;
}

.salary .sukima-tri01 {
  right: 100px;
  bottom: 0;
}

.salary .sukima-tri01 img {
  width: 80px;
}

.salary .sukima-title {
  margin-bottom: 15px;
}

.salary .sukima-title h3 img {
  width: 75px;
  left: -60px;
  top: -20px;
}

.salary .salary-cont .sal-img01 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

@media (max-width: 500px) {
  .salary .salary-cont .sal-img01 {
    margin-bottom: 50px;
  }
}

.salary .salary-cont .sal-img01 img {
  max-width: 500px;
  width: 100%;
}

.salary .salary-cont .sal-line {
  background-color: #fff;
  border: 3px solid #a1a1a1;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 12px 12px;
  max-width: 730px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (max-width: 767px) {
  .salary .salary-cont .sal-line {
    max-width: 470px;
  }
}

.salary .salary-cont .sal-line .sal-line-img {
  margin-right: 20px;
}

@media (max-width: 500px) {
  .salary .salary-cont .sal-line .sal-line-img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    width: auto;
    margin-right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
}

.salary .salary-cont .sal-line p {
  font-size: 22px;
  font-family: "Meiryo";
}

@media (max-width: 500px) {
  .salary .salary-cont .sal-line p {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

.salary .salary-cont .sal-line p span {
  color: #fd563f;
}

.salary .salary-cont .sal-line p br {
  display: none;
}

@media (max-width: 767px) {
  .salary .salary-cont .sal-line p br {
    display: block;
  }
}

.salary .salary-cont .sal-line .sal-ab {
  position: absolute;
  right: -80px;
  margin-right: 0;
}

@media (max-width: 500px) {
  .salary .salary-cont .sal-line .sal-ab {
    top: -30px;
    right: 0;
    width: 90px;
  }
}

.shift {
  padding-top: 70px;
  padding-bottom: 60px;
  position: relative;
}

.shift .sukima-tri {
  position: absolute;
  right: 30px;
  bottom: 100px;
}

@media (max-width: 767px) {
  .shift .sukima-tri {
    display: none;
  }
}

.shift .sukima-tri img {
  width: 150px;
}

@media (max-width: 767px) {
  .shift {
    padding-bottom: 30px;
  }
}

.shift .sukima-title {
  margin-bottom: 30px;
}

.shift .shift-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.shift p {
  text-align: center;
  font-family: "Meiryo";
  margin-bottom: 30px;
}

.shift .shift-box {
  border: 3px solid #a1a1a1;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
  position: relative;
}

.shift .shift-box .shift-box-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -235px;
  right: 0;
}

@media (max-width: 820px) {
  .shift .shift-box .shift-box-img {
    top: -194px;
  }
}

@media (max-width: 767px) {
  .shift .shift-box .shift-box-img {
    display: none;
  }
}

@media (max-width: 820px) {
  .shift .shift-box .shift-box-img img {
    width: 160px;
  }
}

.shift .shift-box h4 {
  background-color: #0cac8f;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 12px;
  -webkit-border-top-left-radius: 22px;
     -moz-border-radius-topleft: 22px;
          border-top-left-radius: 22px;
  -webkit-border-top-right-radius: 22px;
     -moz-border-radius-topright: 22px;
          border-top-right-radius: 22px;
}

.shift .shift-box .shift-box-cont {
  background-color: #fff;
  padding: 30px 30px;
  -webkit-border-bottom-left-radius: 22px;
     -moz-border-radius-bottomleft: 22px;
          border-bottom-left-radius: 22px;
  -webkit-border-bottom-right-radius: 22px;
     -moz-border-radius-bottomright: 22px;
          border-bottom-right-radius: 22px;
}

@media (max-width: 767px) {
  .shift .shift-box .shift-box-cont {
    padding: 10px 10px;
  }
}

.shift .shift-box .shift-box-cont ul {
  margin-bottom: 25px;
}

.shift .shift-box .shift-box-cont ul li {
  font-family: "Meiryo";
  margin-bottom: 10px;
}

.shift .shift-box .shift-box-cont ul li:last-child {
  margin-bottom: 0;
}

.shift .shift-box .shift-box-cont ul li span {
  font-size: 14px;
  font-weight: 300;
}

.shift .shift-box .shift-box-cont .shif-box-wrap {
  background-color: #f3f3f3;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  padding: 15px 30px;
}

.recruitment {
  background-color: #ffd131;
  padding-top: 60px;
  padding-bottom: 50px;
  position: relative;
}

.recruitment .sukima-tri {
  position: absolute;
  left: 30px;
  top: 50px;
}

@media (max-width: 767px) {
  .recruitment .sukima-tri {
    display: none;
  }
}

.recruitment .sukima-tri img {
  width: 100px;
  -webkit-transform: rotate(50deg);
     -moz-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
       -o-transform: rotate(50deg);
          transform: rotate(50deg);
}

.recruitment h4 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.recruitment .rec-box {
  max-width: 820px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.recruitment .rec-box ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.recruitment .rec-box ul li {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

@media (max-width: 500px) {
  .recruitment .rec-box ul li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) {
  .recruitment .rec-box ul li:last-child {
    margin-bottom: 0;
  }
}

.recruitment .rec-box ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recruitment .rec-box ul li a img {
  width: 100%;
}

.recruitment p {
  text-align: center;
}

.dblock {
  display: block;
}

.diblock {
  display: inline-block;
}

.dflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.diflex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dnone {
  display: none;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ai {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mlr-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.global-mt {
  margin-top: 100px;
}

/** MARGIN TOP **/
/** SP **/
.mt-0-xs {
  margin-top: 0px;
}

/** PC **/
@media (min-width: 767px) {
  .mt-0 {
    margin-top: 0px !important;
  }
}

/** END MARGIN TOP **/
/** MARGIN BOTTOM **/
/** SP **/
.mb-0-xs {
  margin-bottom: 0px;
}

.mb-30-xs {
  margin-bottom: 30px;
}

/** PC **/
@media (min-width: 767px) {
  .mb-0 {
    margin-bottom: 0px !important;
  }
}

/** END MARGIN BOTTOM **/
/** PADDING TOP **/
/** SP **/
.pt-0-xs {
  padding-top: 0px;
}

/** PC **/
@media (min-width: 767px) {
  .pt-0 {
    padding-top: 0px !important;
  }
}

/** END PADDING TOP **/
/** PADDING BOTTOM **/
/** SP **/
.pb-0-xs {
  margin-bottom: 0px;
}

/** PC **/
@media (min-width: 767px) {
  .pb-0 {
    margin-bottom: 0px !important;
  }
}

/** END MARGIN BOTTOM **/
.fs-18-xs {
  font-size: 18px;
}

@media (min-width: 767px) {
  .fs-20 {
    font-size: 20px !important;
  }
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.is-wide {
  width: 100%;
}

.flex-row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.ov-hidden {
  overflow: hidden;
}

.sukima-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.sukima-title h3 {
  color: #222222;
  font-size: -webkit-calc(25px + (32 - 25) * ((100vw - 375px) / (2000 - 375)));
  font-size: -moz-calc(25px + (32 - 25) * ((100vw - 375px) / (2000 - 375)));
  font-size: calc(25px + (32 - 25) * ((100vw - 375px) / (2000 - 375)));
  font-family: "Meiryo";
  position: relative;
}

.sukima-title h3 img {
  position: absolute;
  top: -webkit-calc(-40px + (45 - 40) * ((100vw - 375px) / (2000 - 375)));
  top: -moz-calc(-40px + (45 - 40) * ((100vw - 375px) / (2000 - 375)));
  top: calc(-40px + (45 - 40) * ((100vw - 375px) / (2000 - 375)));
  left: -webkit-calc(-40px + (-40 - 40) * ((100vw - 375px) / (2000 - 375)));
  left: -moz-calc(-40px + (-40 - 40) * ((100vw - 375px) / (2000 - 375)));
  left: calc(-40px + (-40 - 40) * ((100vw - 375px) / (2000 - 375)));
  width: -webkit-calc(135px + (185 - 135) * ((100vw - 375px) / (2000 - 375)));
  width: -moz-calc(135px + (185 - 135) * ((100vw - 375px) / (2000 - 375)));
  width: calc(135px + (185 - 135) * ((100vw - 375px) / (2000 - 375)));
}

.sukima-title p {
  color: #fd563f;
  font-family: "Meiryo";
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
}

.sukima-card {
  background-color: #f4f3f1;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 767px) {
  .sukima-card {
    margin-bottom: 60px;
  }
}

.sukima-card .sukima-card-num {
  background-color: #fb7a53;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Arial";
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: auto;
  height: 70px;
  width: 70px;
}

.sukima-card .sukima-card-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.sukima-card .sukima-card-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Meiryo";
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.prec-card {
  border: 3px solid #727272;
  background-color: #fff;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  padding: 15px 15px;
  min-height: 217px;
  margin-bottom: 25px;
}

.prec-card .prec-card-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.prec-card .prec-card-cont {
  text-align: center;
}

.prec-card .prec-card-cont h4 {
  font-size: 22px;
  font-family: "Meiryo";
}

@media (max-width: 450px) {
  .prec-card .prec-card-cont h4 {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .prec-card .prec-card-cont h4 br {
    display: none;
  }
}

.prec-card .prec-card-cont p {
  font-size: 15px;
}

.flow-card {
  position: relative;
}

@media (max-width: 767px) {
  .flow-card {
    margin-bottom: 60px;
  }
}

.flow-card .flow-card-num {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
}

.flow-card .flow-card-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.flow-card .flow-card-img img {
  width: 100%;
}

.flow-card .flow-card-cont h4 {
  background-color: #fff;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
  color: #222;
  text-align: center;
  font-size: 18px;
  font-family: "Meiryo";
  margin-bottom: 15px;
  padding: 5px 0;
}

@media (max-width: 920px) {
  .flow-card .flow-card-cont h4 {
    font-size: 15px;
  }
}

.flow-card .flow-card-cont p {
  color: #fff;
}
