.sukima-card {
    background-color: #f4f3f1;
    border-radius: 20px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    @include mq(max, $mq_md) {
        margin-bottom: 60px;
    }
    .sukima-card-num {
        background-color: #fb7a53;
        border-radius: 50px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Arial";
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        margin: auto;
        height: 70px;
        width: 70px;
    }
    .sukima-card-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }
    .sukima-card-text {
        display: flex;
        font-family: "Meiryo";
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.prec-card {
    border: 3px solid #727272;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px 15px;
    min-height: 217px;
    margin-bottom: 25px;
    .prec-card-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .prec-card-cont {
        text-align: center;
        h4 {
            font-size: 22px;
            font-family: "Meiryo";
            @include mq(max, 450) {
                font-size: 15px;
            }
            br {
                @include mq(max, $mq_md) {
                    display: none;
                }
            }
        }
        p {
            font-size: 15px;
        }
    }
}

.flow-card {
    position: relative;
    @include mq(max, $mq_md) {
        margin-bottom: 60px;
    }
    .flow-card-num {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: -40px;
    }
    .flow-card-img {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        img {
            width: 100%;
        }
    }
    .flow-card-cont {
        h4 {
            background-color: #fff;
            border-radius: 25px;
            color: #222;
            text-align: center;
            font-size: 18px;
            font-family: "Meiryo";
            margin-bottom: 15px;
            padding: 5px 0;
            @include mq(max, 920) {
                font-size: 15px;
            }
        }
        p {
            color: #fff;
        }
    }
}