.sukima-banner {
    padding-top: calc(30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
    padding-bottom: calc(30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
    .sukima-tri {
        position: absolute;
        display: flex;
        align-items: center;
        top: -30px;
        @include mq(max, $mq_md) {
            display: none;
        }
        img {
            width: calc(70px + (180 - 70) * ((100vw - 768px) / (2000 - 768)));
            transform: rotate(40deg);
        }
    }
    .sukima-tri01 {
        position: absolute;
        display: flex;
        align-items: center;
        bottom:  calc(30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
        left: calc(-30px + (60 - 30) * ((100vw - 768px) / (2000 - 768)));
        @include mq(max, $mq_md) {
            display: none;
        }
        img {
            width: calc(75px + (135 - 75) * ((100vw - 768px) / (2000 - 768)));
            transform: rotate(10deg);
        }
    }
    @include mq(max, $mq_md) {
        padding-top: 0;
        padding-bottom: 0;
    }
    .lg-cntr{
        @include mq(max, $mq_md) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .sukima-bg {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        @include mq(max, $mq_md) {
            display: none;
        }
        img {
            height: calc(355px + (795 - 355) * ((100vw - 768px) / (2000 - 768)));
            width: 1095px;
            width: calc(490px + (1095 - 490) * ((100vw - 768px) / (2000 - 768)));
            object-fit: cover;
        }
    }
    .sukima-banner-yellow {
        background-color: #ffd131;
        border-radius: 25px;
        padding-top: calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
        padding-bottom: calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
        padding-left: calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
        padding-right: calc(20px + (60 - 20) * ((100vw - 768px) / (2000 - 768)));
        position: relative;
        @include mq(max, $mq_md) {
            border-radius: 0;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .sukima-banner-title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 35px;
            position: relative;
            z-index: 1;
            @include mq(max, $mq_md) {
                margin-bottom: 10px;
            }
            img {
                width: calc(200px + (395 - 200) * ((100vw - 768px) / (2000 - 768)));
                @include mq(max, $mq_md) {
                    max-width: 250px;
                    width: 100%;
                }
            }
        }
        .sukima-banner-img {
            .img01 {
                display: flex;
                align-items: center;
                margin-bottom: calc(10px + (50 - 10) * ((100vw - 768px) / (2000 - 768)));
                @include mq(max, $mq_md) {
                    justify-content: center;
                    margin-bottom: 20px;
                }
                img {
                    width: calc(280px + (580 - 280) * ((100vw - 768px) / (2000 - 768)));
                    @include mq(max, $mq_md) {
                        width: 80%;
                    }
                }
            }
            .img02 {
                display: flex;
                align-items: center;
                padding-left: calc(10px + (100 - 10) * ((100vw - 768px) / (2000 - 768)));
                @include mq(max, $mq_md) {
                    justify-content: center;
                }
                img {
                    width: calc(250px + (545 - 250) * ((100vw - 768px) / (2000 - 768)));
                    @include mq(max, $mq_md) {
                        width: 80%;
                    }
                }
            }
        }
    }
}

.sukima-recommend {
    padding-top: 60px;
    padding-bottom: 90px;
    position: relative;
    @include mq(max, $mq_md) {
        padding-bottom: 0px;
    }
    .sukima-tri, .sukima-tri01 {
        position: absolute;
        @include mq(max, $mq_md) {
            display: none;
        }
    }
    .sukima-tri  { 
        left: calc(40px + (100 - 40) * ((100vw - 768px) / (2000 - 768)));
        top: calc(10px + (80 - 10) * ((100vw - 768px) / (2000 - 768)));
        img {
            width: calc(100px + (260 - 100) * ((100vw - 768px) / (2000 - 768)));
        }
    }
    .sukima-tri01 {
        right: calc(90px + (140 - 90) * ((100vw - 768px) / (2000 - 768)));
        bottom: calc(10px + (130 - 10) * ((100vw - 768px) / (2000 - 768)));
        img {
            width: calc(80px + (135 - 80) * ((100vw - 768px) / (2000 - 768)));
        }
    }
}

.sukima-job {
    background-color: #ffd131;
    padding-top: 70px;
    padding-bottom: 60px;
    position: relative;
    .sukima-tri01 {
        position: absolute;
        display: flex;
        align-items: center;
        top: calc(50px + (100 - 50) * ((100vw - 768px) / (2000 - 768)));
        left: calc(20px + (120 - 20) * ((100vw - 768px) / (2000 - 768)));
        img {
            width: calc(80px + (185 - 80) * ((100vw - 768px) / (2000 - 768)));
        }
        @include mq(max, $mq_md) {
            display: none;
        }
    }
    .sukima-tri {
        position: absolute;
        bottom: -50px;
        right: 60px;
        @include mq(max, $mq_md) {
            display: none;
        }
        img {
            width: 150px;
            transform: rotate(10deg);
        }
    }
    @include mq(max, $mq_md) {
        padding-bottom: 30px;
    }
    .sukima-title {
        margin-bottom: 50px;
        @include mq(max, $mq_md) {
            margin-bottom: 30px;
        }
    }
    .sukima-job-img {
        max-width: 470px;
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        @include mq(max, $mq_md) {
            margin-bottom: 30px;
        }
        img {
            width: 100%;
        }
    }
    .sukima-job-cont {
        @include mq(max, $mq_md) {
            text-align: center;
        }
        h4 {
            font-size: 26px;
            font-family: "Meiryo";
            margin-bottom: 10px;
            @include mq(max, $mq_md) {
                font-size: 22px;
            }
        }
        img {
            max-width: 420px;
            width: 100%;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            font-size: 20px;
            line-height: 40px;
            @include mq(max, $mq_md) {
                font-size: 14px;
                line-height: 28px;
            }
        }
    }
}

.work {
    background-color: #f4f3f1;
    overflow: hidden;
    .work-img01 {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 0;
        left: -100px;
        @include mq(max, 900) {
            left: -150px;
        }
        @include mq(max, $mq_md) {
            display: none;
        }
    }
    .work-img02 {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 0;
        right: -10px;
        @include mq(max, 900) {
            right: -50px;
        }
        @include mq(max, $mq_md) {
            display: none;
        }
    }
    .cntr {
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
    }
    .sukima-title {
        margin-bottom: 40px;
    }
    .work-cont {
        h4 {
            font-size: 20px;
            font-family: "Meiryo";
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            text-align: center;
            margin-bottom: 50px;
        }
        .work-cont-img {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                display: flex;
                align-items: center;
                img {
                    @include mq(max, 500) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.precautions {
    padding-top: 80px;
    padding-bottom: 60px;
    position: relative;
    .sukima-tri01, .sukima-tri {
        position: absolute;
        @include mq(max, $mq_md) {
            display: none;
        }
    }
    .sukima-tri {
        top: calc(80px + (350 - 80) * ((100vw - 768px) / (2000 - 768)));
        left: 30px;
        transform: rotate(-10deg);
        img {
            width: 150px;
        }
    }
    .sukima-tri01 {
        bottom: 150px;
        right: 100px;
        transform: rotate(-10deg);
        img {
            width: 100px;
        }
    }
    .prec-text {
        line-height: 26px;
        font-family: "Meiryo";
        @include mq(max, $mq_md) {
            font-size: 15px;
            line-height: normal;
        }
    }
    .gap {
        .xs-6 {
            @include mq(max, 375) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

.flow {
    background-color: #0cac8f;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    .sukima-tri01, .sukima-tri {
        position: absolute;
        @include mq(max, $mq_md) {
            display: none;
        }
    }
    .sukima-tri01 {
        left: 30px;
        bottom: calc(500px + (100 - 500) * ((100vw - 768px) / (2000 - 768)));
        img {
            width: 80px;
        }
    }
    .sukima-tri {
        right: 30px;
        bottom: -100px;
        img {
            width: 150px;
        }
    }
    @include mq(max, $mq_md) {
        padding-bottom: 0;
    }
    .sukima-title {
        h3 {
            color: #fff;
            img {
                width: 60px;
                top: calc(-30px + (50 - 30) * ((100vw - 375px) / (2000 - 375)));
                left: calc(-40px + (20 - 40) * ((100vw - 375px) / (2000 - 375)))
            }
        }
    }
}

.grooming {
    padding-top: 85px;
    padding-bottom: 50px;
    .groom-gap {
        display: flex;
        flex-wrap: wrap;
        .groom-img {
            flex: 0 0 25%;
            max-width: 25%;
            @include mq(max, $mq_md) {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
                margin-bottom: 30px;
            }
            img {
                width: 100%;
                @include mq(max, $mq_md) {
                    width: auto;
                }
            }
        }
        .grom-cont {
            flex: 0 0 75%;
            max-width: 75%;
            padding-left: 50px;
            @include mq(max, $mq_md) {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 0;
            }
            ul {
                li {
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    p {
                        strong {
                            color: #0cac8f;
                            font-family: "Meiryo";
                        }
                    }
                }
            }
        }
    }
}

.salary {
    background-color: #f4f3f1;
    padding-top: 75px;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;
    .sukima-tri01, .sukima-tri {
        position: absolute;
        @include mq(max, $mq_md) {
            display: none;
        }
    }
    .sukima-tri {
        left: 30px;
        bottom: 0;
        img {
            width: 150px;
        }
    }
    .sukima-tri01 {
        right: 100px;
        bottom: 0;
        img {
            width: 80px;
        }
    }
    .sukima-title {
        margin-bottom: 15px;
        h3 {
            img {
                width: 75px;
                left: -60px;
                top: -20px;
            }
        }
    }
    .salary-cont {
        .sal-img01 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            @include mq(max, 500) {
                margin-bottom: 50px;
            }
            img {
                max-width: 500px;
                width: 100%;
            }
        }
        .sal-line {
            background-color: #fff;
            border: 3px solid #a1a1a1;
            border-radius: 15px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 12px 12px;
            max-width: 730px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            @include mq(max, $mq_md) {
                max-width: 470px;
            }
            .sal-line-img {
                margin-right: 20px;
                @include mq(max, 500) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: auto;
                    margin-right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 10px;
                }
            }
            
            p {
                font-size: 22px;
                font-family: "Meiryo";
                @include mq(max, 500) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: center;
                }
                span {
                    color: #fd563f;
                }
                br {
                    display: none;
                    @include mq(max, $mq_md) {
                        display: block;
                    }
                }
            }
            .sal-ab {
                position: absolute;
                right: -80px;
                margin-right: 0;
                @include mq(max, 500) {
                    top: -30px;
                    right: 0;
                    width: 90px;
                }
            }
        }
    }
}

.shift {
    padding-top: 70px;
    padding-bottom: 60px;
    position: relative;
    .sukima-tri {
        position: absolute;
        right: 30px;
        bottom: 100px;
        @include mq(max, $mq_md) {
            display: none;
        }
        img {
            width: 150px;
        }
    }
    @include mq(max, $mq_md) {
        padding-bottom: 30px;
    }
    .sukima-title {
        margin-bottom: 30px;
    }
    .shift-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }
    p {
        text-align: center;
        font-family: "Meiryo";
        margin-bottom: 30px;
    }
    .shift-box {
        border: 3px solid #a1a1a1;
        border-radius: 25px;
        position: relative;
        .shift-box-img {
            display: flex;
            position: absolute;
            top: -235px;
            right: 0;
            @include mq(max, 820) {
                top: -194px;
            }
            @include mq(max, $mq_md) {
                display: none;
            }
            img {
                @include mq(max, 820) {
                    width: 160px;
                }
            }
        }
        h4 {
            background-color: #0cac8f;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 12px;
            border-top-left-radius: 22px;
            border-top-right-radius: 22px;
        }
        .shift-box-cont {
            background-color: #fff;
            padding: 30px 30px;
            border-bottom-left-radius: 22px;
            border-bottom-right-radius: 22px;
            @include mq(max, $mq_md) {
                padding: 10px 10px;
            }
            ul {
                margin-bottom: 25px;
                li {
                    font-family: "Meiryo";
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
            .shif-box-wrap {
                background-color: #f3f3f3;
                border-radius: 15px;
                padding: 15px 30px;
            }
        }
    }
}

.recruitment {
    background-color: #ffd131;
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
    .sukima-tri {
        position: absolute;
        left: 30px;
        top: 50px;
        @include mq(max, $mq_md) {
            display: none;
        }
        img {
            width: 100px;
            transform: rotate(50deg);
        }
    }
    h4 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }
    .rec-box {
        max-width: 820px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
            li {
                padding-left: 15px;
                padding-right: 15px;
                flex: 0 0 50%;
                max-width: 50%;
                @include mq(max, 500) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-bottom: 15px;
                }
                &:last-child {
                    @include mq(max, 500) {
                        margin-bottom: 0;
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    p {
        text-align: center;
    }
}