.sukima-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    flex-wrap: wrap;
    h3 {
        color: #222222;
        font-size: calc(25px + (32 - 25) * ((100vw - 375px) / (2000 - 375)));
        font-family: "Meiryo";
        position: relative;
        img {
            position: absolute;
            top: calc(-40px + (45 - 40) * ((100vw - 375px) / (2000 - 375)));
            left: calc(-40px + (-40 - 40) * ((100vw - 375px) / (2000 - 375)));
            width: calc(135px + (185 - 135) * ((100vw - 375px) / (2000 - 375)));
        }
    }
    p {
        color: #fd563f;
        font-family: "Meiryo";
        flex: 0 0 100%;
        max-width: 100%;
        font-size: 24px;
        text-align: center;
    }
}